<h1>Edit your event</h1>
{{#with events}}
<form action="/event/edit/{{_id}}" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" value="{{title}}" />

    <label for="date">Date: </label>
    <input type="date" name="date" id="date" value="{{date}}" />

    <label for="street">Street:</label>
    <input type="text" name="street" id="street" value="{{street}}" />

    <label for="city">City:</label>
    <input type="text" name="city" id="city" value="{{city}}" />

    <label for="zipcode">Zipcode:</label>
    <input type="text" name="zipcode" id="zipcode" value="{{zipcode}}" />

    <label for="about">About:</label>
    <input type="text" name="about" id="about" value="{{about}}" />

    Indoors<input checked="checked" name="indoors" type="radio" value="indoors" id="indoors" value="{{indoors}}" />
    Outdoors<input name="indoors" type="radio" value="outdoors" id="outdoors" value="{{outdoors}}" />
    Both<input name="indoors" type="radio" value="both" id="both" value="{{both}}" />

    <label for="cost">Cost</label>
    <input type="number" name="cost" id="cost" min="0" value="{{cost}}" />

    <label for="minAge">Age</label>
    <input type="number" name="minAge" id="minAge" min="1" max="18" value="{{minAge}}" />

    <label for="artists">Artists:</label>
    <input type="text" name="artists" id="artists" value="{{artists}}" />

    <button type="submit">Update this Event</button>
</form>
{{/with}}