{{#with events}}
	<h1>{{title}}</h1>
	<p>Date: {{date}}</p>
	<p>Genre: {{genre}}</p>
	<p>Location: {{address.street}} {{address.city}}</p>
	<p>About: {{about}}</p>
	<p>Indoor/Outdoors:{{indoors}}</p>
	<p>Cost: {{cost}}</p>
	<p>Minimum Age: {{minAge}}</p>
	<p>Artists: {{artists}}</p>
	<p>Creator: {{creator}}</p>
	{{!-- <a href="/event/edit/{{_id}}">Edit this event ✏️</a> --}}
	{{!-- <a href="/event/delete/{{_id}}">Delete this event ❌</a> --}}
{{/with}}