{{#with events}}
	<h1>{{title}}</h1>
	<p>Date: {{date}}</p>
	<p>Genre: {{genre}}</p>
	<p>Location: {{address.street}} {{address.city}}</p>
	<p>About: {{about}}</p>
	<p>Indoor/Outdoors:{{indoors}}</p>
	<p>Cost: {{cost}}</p>
	<p>Minimum Age: {{minAge}}</p>
	<p>Artists: {{artists}}</p>
	<p>Creator: {{creator.username}}</p>
{{/with}}
{{#if identification}}
{{#with events}}
<a href="/event/edit/{{_id}}">Edit this event </a>
<br>
<a href="/event/delete/{{_id}}">Delete this event </a>
{{/with}}

{{/if}}
<body>
      {{!-- THIS IS FOR MAPBOX --}}
      <div id='map' style='width: 50vw; height: 50vh;'></div>
      <script src="/js/mapbox.js"></script> 
</body>